
:root {
    --text-color: #ffffff;
    --background-color: #000000;
    --orange: #ffa500;
  }
  body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .button {
    background-color: var(background-color);
    color: var(text-color);
    font-size: 24px;
    text-align: center;
    padding: 10px 24px;
    margin: 10px 2px;
    border: 2px solid var(orange)
    border-radius: 50px;
  }
